.index-info{
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        grid-gap: 25px;
        @include for-tablet-portrait{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.05);
        min-height: 145px;
        padding: 42px 9px 48px 9px;
        display: flex;
        @media (max-width: 930px) {
            padding: 30px 9px;
        }
    }
    &__item-inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 930px) {
            flex-direction: column;
        }
        @include for-tablet-portrait{
            flex-direction: row;
        }
    }
    &__item-box{
        max-width: 280px;
        margin-right: 20px;
        @media (max-width: 930px) {
            margin-right: 0;
            margin-bottom: 29px;
        }
        @include for-tablet-portrait{
            margin-right: 20px;
        }
    }
    &__item-title{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
        
    }
    &__item-link{
        min-width: 200px;
        @include for-phone{
            width: 100%;
        }
    }
}