.index-services-dark{
    margin: 84px 0;
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        grid-gap: 24px;
        @media (max-width: 930px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include for-tablet-portrait{
            display: flex;
            overflow-x: auto;
        }
    }
    &__item{
        .service-dark{
            @include for-tablet-portrait{
                width: 288px;
                margin-right: 24px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}