.it-outsourcing-cards{
    margin: 84px 0;
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
        grid-gap: 26px;
        @include for-tablet-landscape-min{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item{
        .it-outsourcing-card{
            background: #FFFFFF;
            box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.06);
            padding: 27px 9px;
            min-height: 356px;
            background-position: bottom right;
            background-repeat: no-repeat;
            @include for-tablet-landscape{
                background-position: top left;
                padding-top: 230px;
            }
            @include for-tablet-landscape-min{
                background-position: bottom right;
                padding: 27px 9px;
            }
            @media (max-width: 450px) {
                background-position: top left;
                padding-top: 230px;
            }
            &__title{
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 24px;
            }
            &__list{
                margin-bottom: 22px;
            }
            &__list-item{
                margin-bottom: 10px;
                padding-left: 20px;
                position: relative;
                &:last-child{
                    margin-bottom: 0;
                }
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            &__price{
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 26px;
            }
        }
    }
    &__item--bad{
        .it-outsourcing-card{
            background-image: url('../img/it-outsourcing-cards/img-bad.png');
            @include for-tablet-landscape{
                background-image: url('../img/it-outsourcing-cards/img-bad-mini.png');
            }
            @include for-tablet-landscape-min{
                background-image: url('../img/it-outsourcing-cards/img-bad.png');
            }
            @media (max-width: 450px) {
                background-image: url('../img/it-outsourcing-cards/img-bad-mini.png');
                background-position: top left;
            }
            &__list-item{
                margin-bottom: 10px;
                position: relative;
                &:last-child{
                    margin-bottom: 0;
                }
                &::before{
                    position: absolute;
                    content: url('../img/icons/red-close.svg');
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    &__item--good{
        .it-outsourcing-card{
            background-image: url('../img/it-outsourcing-cards/img-good.png');
            @include for-tablet-landscape{
                background-image: url('../img/it-outsourcing-cards/img-good-mini.png');
            }
            @include for-tablet-landscape-min{
                background-image: url('../img/it-outsourcing-cards/img-good.png');
                background-position: bottom right;
            }
            @media (max-width: 450px) {
                background-image: url('../img/it-outsourcing-cards/img-good-mini.png');
                background-position: top left;
            }
            &__list-item{
                margin-bottom: 10px;
                position: relative;
                &:last-child{
                    margin-bottom: 0;
                }
                &::before{
                    position: absolute;
                    content: url('../img/icons/green-check.svg');
                    width: 12px;
                    height: 10px;
                }
            }
        }
    }
}
.it-outsourcing-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__link{
        max-width: 190px;
    }
}