@font-face {
    font-family: 'Arimo';
    src: local('Arimo'), url('../font/arimo.woff2') format('woff2'), url('../font/arimo.woff') format('woff'), url('../font/arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Arimo'), url('../font/Inter-Regular.woff2') format('woff2'), url('../font/Inter-Regular.woff') format('woff'), url('../font/Inter-Regular.ttf') format('truetype'), url('../font/Inter-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Arimo'), url('../font/Inter-Medium.woff2') format('woff2'), url('../font/Inter-Medium.woff') format('woff'), url('../font/Inter-Medium.ttf') format('truetype'), url('../font/Inter-Medium.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Arimo'), url('../font/Inter-Light.woff2') format('woff2'), url('../font/Inter-Light.woff') format('woff'), url('../font/Inter-Light.ttf') format('truetype'), url('../font/Inter-Light.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Arimo'), url('../font/Inter-Bold.woff2') format('woff2'), url('../font/Inter-Bold.woff') format('woff'), url('../font/Inter-Bold.ttf') format('truetype'), url('../font/Inter-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}