.default-yellow-button{
    background-color: #FFDD2D;
    border: 1px solid #FFDD2D;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 11px 19px;
    min-width: 128px;
    text-align: center;
    transition:  all .3s ease-in-out;
    display: inline-block;
    border-radius: 4px;
    &:hover{
        background-color: #FCC521;
    }
}
.default-transparent-button{
    border: 1px solid #34436A;
    color: #34436A;;
    background-color: transparent;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 11px 19px;
    min-width: 128px;
    text-align: center;
    transition:  all .3s ease-in-out;
    display: inline-block;
    border-radius: 4px;
    &:hover{
        background-color: #FAFAFA;
    }
}

.title{
    font-size: 27px;
    line-height: 34px;
    font-family: 'Arimo', sans-serif;
    @include for-phone{
        font-size: 24px;
        line-height: 28px;
    }
}
.popup{
    margin: 20px auto;
    background: #FFFFFF;
    position: relative;	
}