.additional-services
    h5.additional-services__title Дополнительные услуги
    ul.additional-services__list
        li.additional-services__list-item
            .additional-services__list-left
                p.additional-services__list-left-text Сетевая карта
            .additional-services__list-right
                p.additional-services__list-right-text 300 рублей
        li.additional-services__list-item
            .additional-services__list-left
                p.additional-services__list-left-text 
                    | Внешний адрес 
                    br
                    | (реальный внешний IP-адрес) 
                    br
                    | При наличии технической возможности исполнителя
            .additional-services__list-right
                p.additional-services__list-right-text 200 руб/месяц
        li.additional-services__list-item
            .additional-services__list-left
                p.additional-services__list-left-text 
                    | Выезд специалиста на дом (в офис) в случае, 
                    br
                    | если проблема на стороне клиента
            .additional-services__list-right
                p.additional-services__list-right-text 600 руб (выезд + первый час работы) + 300 руб за каждый дополнительный час
        li.additional-services__list-item
            .additional-services__list-left
                p.additional-services__list-left-text 
                    | Услуга "Заморозка" - 
                    | приостановление доступа к сети 
                    | Интернет до 6 месяцев
            .additional-services__list-right
                p.additional-services__list-right-text Бесплатно
        li.additional-services__list-item
            .additional-services__list-left
                p.additional-services__list-left-text Ремонт линии за пределами квартиры клиента
            .additional-services__list-right
                p.additional-services__list-right-text Бесплатно
        li.additional-services__list-item
            .additional-services__list-left
                p.additional-services__list-left-text Настройка роутера клиента
            .additional-services__list-right
                p.additional-services__list-right-text 500 руб
