.additional-installation-services
    h5.additional-installation-services__title Дополнительные монтажные услуги
    ul.additional-installation-services__list
        li.additional-installation-services__list-item
            .additional-installation-services__list-left
                p.additional-installation-services__list-left-text Дополнительные монтажные услуги
            .additional-installation-services__list-right
                p.additional-installation-services__list-right-text 20 рублей/метр
        li.additional-installation-services__list-item
            .additional-installation-services__list-left
                p.additional-installation-services__list-left-text 
                    | Прокладка витой пары по под 
                    br 
                    | плинтус (если возможен демонтаж)	
            .additional-installation-services__list-right
                p.additional-installation-services__list-right-text 30 рублей/метр
        li.additional-installation-services__list-item
            .additional-installation-services__list-left
                p.additional-installation-services__list-left-text Прокладка витой пары по стене
            .additional-installation-services__list-right
                p.additional-installation-services__list-right-text 35 рублей/метр
        li.additional-installation-services__list-item
            .additional-installation-services__list-left
                p.additional-installation-services__list-left-text Обжим кабеля категории 5Е
            .additional-installation-services__list-right
                p.additional-installation-services__list-right-text 50 рублей
        li.additional-installation-services__list-item
            .additional-installation-services__list-left
                p.additional-installation-services__list-left-text Материалы: кабель, витая пара категории 5Е	
            .additional-installation-services__list-right
                p.additional-installation-services__list-right-text 10 рублей/метр