section.career-banner
    .container 
        .career-banner__inner
            .career-banner__box 
                h1.career-banner__title Карьера в Homenet
                ul.career-banner__list
                    li.career-banner__list-item Стабильная заработная плата, квартальные и годовые бонусы
                    li.career-banner__list-item Мотивирующие конкурсы для сотрудников
                    li.career-banner__list-item Гибкий график работы
                a.career-banner__link.default-yellow-button.application-vacancy-popup-link(href="#application-vacancy-popup") Отправить резюме
                a.application-vacancy-popup__link.gratitude-resume-popup-link(href="#gratitude-resume-popup")