section.career-content
    .container 
        .career-content__inner
            h2.career-content__title.title Вакансии
            .career-content__main 
                .career-content__box 
                    span.career-content__name Монтажник:
                    p.career-content__text (подключение абонентов к интернету)
                .career-content__box 
                    span.career-content__name Вакансии:
                    p.career-content__text Опыт работы по подключению абонентов в многоквартирных домах. Наличие личного автомобиля.
                .career-content__box 
                    span.career-content__name Обязанности:
                    p.career-content__text Подключение абонентов витой парой от узлового оборудования до квартиры.
                .career-content__box 
                    span.career-content__name Условия:
                    p.career-content__text Оплата труда сдельная, пропорционально выполненным подключениям. Гибкий график. Компенсация расходов на бензин
            p.career-content__info Если Вы хотите работать в нашей компании, вы можете направить свое резюме сотруднику отдела подбора персонала. В случае заинтересованности мы свяжемся с Вами и пригласим на интервью.

