.choose-tariff-popup.white-popup-block.popup#choose-tariff-popup.mfp-hide
    .choose-tariff-popup__big
        h4.choose-tariff-popup__big-title.title Выбрать тариф
        .choose-tariff-popup__big-inner 
            ul.popup-big
                li.popup-big__row.popup-big__header
                    .popup-big__row-title
                    .popup-big__row-item Бизнес 5 Мбит/с
                    .popup-big__row-item Бизнес 10 Мбит/с
                    .popup-big__row-item Бизнес 50 Мбит/с
                li.popup-big__row.popup-big__item
                    .popup-big__row-title Скорость
                    .popup-big__row-item 5 мбит/с
                    .popup-big__row-item 10 мбит/с
                    .popup-big__row-item 50 мбит/с
                li.popup-big__row.popup-big__item
                    .popup-big__row-title Цена
                    .popup-big__row-item от 2 000 руб/мес
                    .popup-big__row-item от 3 000 руб/мес
                    .popup-big__row-item от 10 000 руб/мес
                li.popup-big__row.popup-big__item.popup-big__links
                    .popup-big__row-title
                    .popup-big__row-item 
                        a.popup-big__row-link.default-yellow-button.data-link(href="./application-internet.html" data-item="5") Подключить
                    .popup-big__row-item 
                        a.popup-big__row-link.default-yellow-button.data-link(href="./application-internet.html" data-item="10") Подключить
                    .popup-big__row-item 
                        a.popup-big__row-link.default-yellow-button.data-link(href="./application-internet.html" data-item="50") Подключить
    .choose-tariff-popup__mini
        h4.choose-tariff-popup__mini-title.title Выбрать тариф
        .choose-tariff-popup__mini-inner 
            ul.popup-mini
                li.popup-mini__header 
                    .popup-mini__title Цена
                    .popup-mini__title Скорость
                li.popup-mini__row.popup-mini__item
                    .popup-mini__row-box
                        .popup-mini__row-title Бизнес 5 Мбит/с
                        .popup-mini__row-price от 2 000 руб/мес
                    .popup-mini__row-speed 5 мбит/с
                    a.popup-mini__row-link.default-yellow-button(href="./application-internet.html") Подключить
                li.popup-mini__row.popup-mini__item
                    .popup-mini__row-box
                        .popup-mini__row-title Бизнес 10 Мбит/с
                        .popup-mini__row-price от 3 000 руб/мес
                    .popup-mini__row-speed 10 мбит/с
                    a.popup-mini__row-link.default-yellow-button(href="./application-internet.html") Подключить
                li.popup-mini__row.popup-mini__item
                    .popup-mini__row-box
                        .popup-mini__row-title Бизнес 50 Мбит/с
                        .popup-mini__row-price от 10 000 руб/мес
                    .popup-mini__row-speed 50 мбит/с
                    a.popup-mini__row-link.default-yellow-button(href="./application-internet.html") Подключить
