.company-details-popup.white-popup-block.popup.mfp-hide#company-details-popup
    h4.company-details-popup__title Реквизиты компании
    .company-details-popup__inner 
        .company-details-popup__box 
            p.company-details-popup__name Полное наименование организации:
            p.company-details-popup__text Общество с ограниченной ответственностью "Мандарин"
        .company-details-popup__box 
            p.company-details-popup__name Сокращенное наименование:
            p.company-details-popup__text ООО «Мандарин»
        .company-details-popup__box 
            p.company-details-popup__name ИНН:
            p.company-details-popup__text 7801595514
        .company-details-popup__box 
            p.company-details-popup__name КПП:
            p.company-details-popup__text 780101001
        .company-details-popup__box 
            p.company-details-popup__name Юридический адрес:
            p.company-details-popup__text 199106, г. Санкт-Петербург, пл. Морской Славы, д. 1, лит. А, пом. 3-Н, оф.5094.
        .company-details-popup__box 
            p.company-details-popup__name Банк:
            p.company-details-popup__text Банк: ОАО АКБ «АВАНГАРД» БИК: 044525201 Р/сч: 40702810002100019929 Кор/сч: 30101810000000000201