.company-details
    h4.company-details__title Реквизиты компании
    .company-details__inner 
        .company-details__box 
            p.company-details__name Полное наименование организации:
            p.company-details__text Общество с ограниченной ответственностью "Мандарин"
        .company-details__box 
            p.company-details__name Сокращенное наименование:
            p.company-details__text ООО «Мандарин»
        .company-details__box 
            p.company-details__name ИНН:
            p.company-details__text 7801595514
        .company-details__box 
            p.company-details__name КПП:
            p.company-details__text 780101001
        .company-details__box 
            p.company-details__name Юридический адрес:
            p.company-details__text 199106, г. Санкт-Петербург, пл. Морской Славы, д. 1, лит. А, пом. 3-Н, оф.5094.
        .company-details__box 
            p.company-details__name Банк:
            p.company-details__text Банк: ОАО АКБ «АВАНГАРД» БИК: 044525201 Р/сч: 40702810002100019929 Кор/сч: 30101810000000000201
