footer.footer  
    .container 
        .footer-inner
            .footer-top 
                nav.footer-top__nav
                    ul.footer-top__list 
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./legal-entities.html") Юридическим лицам
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./natural-persons.html") Физическим лицам
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./telephony.html") Телефония
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./television.html") Телевидение
                        li.footer-top__list-item
                            a.footer-top__list-link.legal-or-physical-popup-link(href="#legal-or-physical-popup") Тарифы
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./payment.html") Оплата
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./video-surveillance.html") Видеонаблюдение
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./it-outsourcing.html") IT-аутсорсинг
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./contacts.html") Контакты
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./products.html") Товары
                        li.footer-top__list-item
                            a.footer-top__list-link(href="./career.html") Карьера
                        li.footer-top__list-item
                            a.footer-top__list-link.legal-or-physical-popup-link(href="#legal-or-physical-popup") Подключиться
                .footer-top__contact 
                    a.footer-top__contact-tel(href="tel:+78127770601") +7 (812) 777-06-01
                    span.footer-top__contact-text Для звонков по России
            .footer-bottom
                ul.footer-bottom__list
                    li.footer-bottom__list-item 
                        p.footer-bottom__list-text ©HOMENET Все права защищены.
                    li.footer-bottom__list-item 
                        p.footer-bottom__list-link Политика конфиденциальности
                    li.footer-bottom__list-item 
                        a.footer-bottom__list-link(href="./Соглашение.pdf") Соглашение о персональных данных
            #scrollToTop.footer-scroll
                img(src='./img/icons/arrow-top-page.svg' alt='top-page')
