.gratitude-application-popup.white-popup-block.popup.mfp-hide#gratitude-application-popup
    h4.gratitude-application-popup__title Спасибо, Ваша заявка принята!
    img.gratitude-application-popup__img(src="./img/popup/img.png", alt="Спасибо")
    button.gratitude-application-popup__exit.default-yellow-button#application-close(type="button") Вернуться на главную