.header-menu
    .header-menu__inner 
        .header-menu__btn
            img.header-menu__btn-img(src="./img/icons/close.svg", alt="close")
        ul.header-menu__list
            li.header-menu__list-item 
                a.header-menu__list-link(href="./legal-entities.html") Юридическим лицам
            li.header-menu__list-item 
                a.header-menu__list-link(href="./natural-persons.html") Физическим лицам
            li.header-menu__list-item 
                a.header-menu__list-link(href="./telephony.html") Телефония
            li.header-menu__list-item 
                a.header-menu__list-link(href="./television.html") Телевидение
            li.header-menu__list-item 
                a.header-menu__list-link.legal-or-physical-popup-link(href="#legal-or-physical-popup") Тарифы
            li.header-menu__list-item 
                a.header-menu__list-link(href="./payment.html") Оплата
            li.header-menu__list-item 
                a.header-menu__list-link(href="./video-surveillance.html") Видеонаблюдение
            li.header-menu__list-item 
                a.header-menu__list-link(href="./it-outsourcing.html") IT-аутсорсинг
            li.header-menu__list-item 
                a.header-menu__list-link(href="./contacts.html") Контакты
            li.header-menu__list-item 
                a.header-menu__list-link(href="./products.html") Товары
            li.header-menu__list-item 
                a.header-menu__list-link(href="./career.html") Карьера
            li.header-menu__list-item 
                a.header-menu__list-link.legal-or-physical-popup-link(href="#legal-or-physical-popup") Подключиться
        .header-menu__contact 
            a.header-menu__contact-tel(href="tel:+78127770601") +7 (812) 777-06-01
            span.header-menu__contact-text Для звонков по России