section.index-banner
    .container 
        .index-banner__inner
            .index-banner__box 
                h1.index-banner__title Легко подключить,  комфортно жить
                p.index-banner__text 
                    | Интернет, телевидение, Wi-Fi роутер и цифровая TV приставка 
                    br
                    | одним нажатием
                a.index-banner__link.default-yellow-button.legal-or-physical-popup-link(href="#legal-or-physical-popup") Подключиться 