include ./_service-dark

.index-services-dark
    .container
        .index-services-dark__inner 
            ul.index-services-dark__list
                li.index-services-dark__item
                    +service-dark(1, "Товары", "Видеокамеры, Wi-Fi роутеры, TV приставки.", "Подробнее", "./products.html")
                li.index-services-dark__item
                    +service-dark(2, "Карьера", "Стань частью команды Homenet", "Подробнее", "./career.html")
                li.index-services-dark__item
                    +service-dark(3, "Видеонаблюдение", "Видеонаблюдение через интернет", "Подробнее", './video-surveillance.html')
                li.index-services-dark__item
                    +service-dark(4, "IT-аутсорсинг", "Обслуживание сторонних локальных сетей", "Подробнее", "./it-outsourcing.html")
