.index-info
    .container 
        .index-info__inner
            ul.index-info__list
                li.index-info__item
                    .index-info__item-inner
                        .index-info__item-box 
                            h5.index-info__item-title Тарифы
                            p.index-info__item-text Высокие скорости, низкие цены
                        .index-info__item-link-box
                            a.index-info__item-link.default-transparent-button.legal-or-physical-popup-link(href="#legal-or-physical-popup") Подробнее
                li.index-info__item
                    .index-info__item-inner
                        .index-info__item-box 
                            h5.index-info__item-title Оплата
                            p.index-info__item-text Мгновенная оплата банковской картой. Без комиссии.
                        .index-info__item-link-box
                            a.index-info__item-link.default-transparent-button(href="./payment.html") Подробнее