.it-outsourcing-cards
    .container 
        .it-outsourcing-cards__inner
            ul.it-outsourcing-cards__list 
                li.it-outsourcing-cards__item.it-outsourcing-cards__item--bad
                    .it-outsourcing-card
                        .it-outsourcing-card__box
                            h4.it-outsourcing-card__title Ваш системный администратор
                            ul.it-outsourcing-card__list
                                li.it-outsourcing-card__list-item ЗП на руки- 60 000 руб./мес
                                li.it-outsourcing-card__list-item Налоги, соц. пакет - 29 400 руб
                                li.it-outsourcing-card__list-item Издержки не возврат НДС - 16 092 руб
                                li.it-outsourcing-card__list-item Больничный, прогулы, сессии
                        .it-outsourcing-card__box-bottom
                            p.it-outsourcing-card__price 105 000 руб/мес
                            a.it-outsourcing-card__link.default-yellow-button(href="./application-outsourcing.html") Оставить заявку
                li.it-outsourcing-cards__item.it-outsourcing-cards__item--good
                    .it-outsourcing-card
                        .it-outsourcing-card__box
                            h4.it-outsourcing-card__title Партнер Homenet Бизнес
                            ul.it-outsourcing-card__list
                                li.it-outsourcing-card__list-item Квалифицированные специалисты
                                li.it-outsourcing-card__list-item Работаем 7 дней в неделю
                                li.it-outsourcing-card__list-item Задачи решаются за 1 час
                                li.it-outsourcing-card__list-item НДС включена в стоимость
                        .it-outsourcing-card__box-bottom
                            p.it-outsourcing-card__price 3000 руб/мес
                            a.it-outsourcing-card__link.default-yellow-button(href="./application-outsourcing.html") Оставить заявку