.it-outsourcing-table
    .container 
        .it-outsourcing-table__inner
            ul.it-outsourcing-table__content
                li.it-outsourcing-table__row.it-outsourcing-table__header
                    .it-outsourcing-table__row-item Наименование оборудования
                    .it-outsourcing-table__row-item Цена за 1 ед. в руб.
                li.it-outsourcing-table__row.it-outsourcing-table__count
                    .it-outsourcing-table__row-title 
                    .it-outsourcing-table__row-item от 1 до 5 ед.
                    .it-outsourcing-table__row-item от 6 до 10 ед.
                    .it-outsourcing-table__row-item от 11 ед.
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title Стационарный персональный компьютер	
                    .it-outsourcing-table__row-item 900
                    .it-outsourcing-table__row-item 800
                    .it-outsourcing-table__row-item 500
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title Ноутбук
                    .it-outsourcing-table__row-item 900
                    .it-outsourcing-table__row-item 800
                    .it-outsourcing-table__row-item 500
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title Принтер
                    .it-outsourcing-table__row-item 500
                    .it-outsourcing-table__row-item 400
                    .it-outsourcing-table__row-item 350
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title Факс
                    .it-outsourcing-table__row-item 350
                    .it-outsourcing-table__row-item 250
                    .it-outsourcing-table__row-item 200
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title МФУ
                    .it-outsourcing-table__row-item 500
                    .it-outsourcing-table__row-item 400
                    .it-outsourcing-table__row-item 350
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title Мини АТС
                    .it-outsourcing-table__row-item от 2500	
                    .it-outsourcing-table__row-item от 2000	
                    .it-outsourcing-table__row-item от 1500
                li.it-outsourcing-table__row
                    .it-outsourcing-table__row-title Сервер
                    .it-outsourcing-table__row-item от 4000
                    .it-outsourcing-table__row-item от 3500
                    .it-outsourcing-table__row-item от 3000
                li.it-outsourcing-table__row.it-outsourcing-table__row-links
                    .it-outsourcing-table__row-title
                    .it-outsourcing-table__row-item
                        a.it-outsourcing-table__row-link.default-yellow-button.data-link(href="./application-outsourcing.html" data-item="1") Подключить 
                    .it-outsourcing-table__row-item
                        a.it-outsourcing-table__row-link.default-yellow-button.data-link(href="./application-outsourcing.html" data-item="2") Подключить 
                    .it-outsourcing-table__row-item
                        a.it-outsourcing-table__row-link.default-yellow-button.data-link(href="./application-outsourcing.html" data-item="3") Подключить 