section.it-outsourcing-banner
    .container 
        .it-outsourcing-banner__inner
            .it-outsourcing-banner__box 
                h1.it-outsourcing-banner__title IT-аутсорсинг
                p.it-outsourcing-banner__text IT-аутсорсинг - частичная или полная передача работ по поддержке, обслуживанию и модернизации ИТ-инфраструктуры (обслуживание компьютеров, локальных сетей, серверов, оргтехники, веб-сайтов) в руки Homenet Бизнес. Для нас выполнение подобных работ является профильным направлением деятельности.
                a.it-outsourcing-banner__link.default-yellow-button(href="./application-outsourcing.html") Оставить заявку