.legal-or-physical-popup.white-popup-block.popup.mfp-hide#legal-or-physical-popup
    .legal-or-physical-popup__inner
        a.legal-or-physical-popup__link(href="./legal-entities.html") Юридическим лицам
        a.legal-or-physical-popup__link(href="./natural-persons.html") Физическим лицам