include ./_service-color

section.legal-entities-services
    .container
        .legal-entities-services__inner 
            h2.legal-entities-services__title.title Услуги Homenet Бизнес
            ul.legal-entities-services__list
                li.legal-entities-services__item
                    .service-color
                        .service-color__inner
                            img.service-color__img(src=`./img/service-color-card/img-1.png`, alt=`Интернет`)
                            .service-color__box 
                                h5.service-color__title Интернет
                                p.service-color__text Индивидуальные тарифные планы
                        a.service-color__link.default-yellow-button.choose-tariff-popup-link(href="#choose-tariff-popup") Подключить
                li.legal-entities-services__item
                    .service-color
                        .service-color__inner
                            img.service-color__img(src=`./img/service-color-card/img-2.png`, alt=`Телевидение`)
                            .service-color__box 
                                h5.service-color__title Телевидение
                                p.service-color__text Спортивные трансляции в барах и ресторанах
                        a.service-color__link.default-yellow-button(href="./television.html") Подключить
                li.legal-entities-services__item
                    .service-color
                        .service-color__inner
                            img.service-color__img(src=`./img/service-color-card/img-3.png`, alt=`Телефония`)
                            .service-color__box 
                                h5.service-color__title Телефония
                                p.service-color__text Современная телефония для бизнеса
                        a.service-color__link.default-yellow-button(href="https://www.telestore.ru/tariffs/#subscriptions" target="_blank") Подключить