section.legal-entities-banner
    .container 
        .legal-entities-banner__inner
            .legal-entities-banner__box 
                h1.legal-entities-banner__title Интернет в офис
                ul.legal-entities-banner__list
                    li.legal-entities-banner__list-item Подключение вашего офиса по технологии FTTb (оптика до здания) к сети интернет
                    li.legal-entities-banner__list-item На скоростях до 1 Гбит/с
                    li.legal-entities-banner__list-item С возможностью контент-фильтрации
                    li.legal-entities-banner__list-item От 2000 ₽ в месяц
                a.legal-entities-banner__link.default-yellow-button.choose-tariff-popup-link(href="#choose-tariff-popup") Подключиться 