section.natural-persons-content
    .container 
        .natural-persons-content__inner 
            h1.natural-persons-content__title.title Тарифы на интернет для физических лиц
            ul.natural-persons-content__list 
                li.natural-persons-content__list-item
                    .tariff-card.tariff-card--1
                        .tariff-card__box
                            h5.tariff-card__title п. Рахья
                            p.tariff-card__adress Всеволжский р-н Лен. обл.
                            a.tariff-card__link(href="./tariff-rahya.html") Тарифы
                li.natural-persons-content__list-item
                    .tariff-card.tariff-card--2
                        .tariff-card__box
                            h5.tariff-card__title п. Ваганово-2
                            p.tariff-card__adress Всеволжский р-н Лен. обл.
                            a.tariff-card__link(href="./tariff-vaganovo-2.html") Тарифы
                li.natural-persons-content__list-item 
                    .tariff-card.tariff-card--3
                        .tariff-card__box
                            h5.tariff-card__title п. Федоровское
                            p.tariff-card__adress Тосненский р-н Лен. обл.
                            a.tariff-card__link(href="./tariff-fedorovskoe.html") Тарифы
                li.natural-persons-content__list-item
                    .tariff-card.tariff-card--4
                        .tariff-card__box
                            h5.tariff-card__title п. им. Морозова
                            p.tariff-card__adress Всеволжский р-н Лен. обл.
                            a.tariff-card__link(href="./tariff-morozovo.html") Тарифы
                li.natural-persons-content__list-item 
                    .tariff-card.tariff-card--5 
                        .tariff-card__box
                            h5.tariff-card__title п. Форносово
                            p.tariff-card__adress Тосненский р-н Лен. обл.
                            a.tariff-card__link(href="./tariff-fornosovo.html") Тарифы
                li.natural-persons-content__list-item 
                    .tariff-card.tariff-card--6
                        .tariff-card__box
                            h5.tariff-card__title п. Пудомяги
                            p.tariff-card__adress Гатчинский р-н Лен. обл.
                            a.tariff-card__link(href="./tariff-pudomyagi.html") Тарифы
            .natural-persons-content__additional-services
                include ./_additional-services.pug
            .natural-persons-content__additional-installation-services
                include ./_additional-installation-services.pug
            .natural-persons-content__coverage-area
                .coverage-area
                    h2.coverage-area__title.title Зона покрытия
                    .coverage-area__map
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AeqyouzmuuJ02wWECiCFxJA75KNtf2di5&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=true")