section.payment-banner
    .container 
        .payment-banner__inner
            .payment-banner__box 
                h1.payment-banner__title Способы оплаты
                ul.payment-banner__list
                    li.payment-banner__list-item Мгновенно
                    li.payment-banner__list-item Без комиссий
                a.payment-banner__link.default-yellow-button(href="https://pay.pscb.ru/?s=2914" target="_blank") Оплатить картой