.payment-types
    .container 
        .payment-types__inner 
            ul.payment-types__list
                li.payment-types__item.cashless-payment
                    .cashless-payment__box
                        h4.cashless-payment__title Безналичный расчет
                        a.cashless-payment__btn.default-yellow-button.company-details-popup-link(href="#company-details-popup") Показать реквизиты компании
                li.payment-types__item.payment-terminals
                    .payment-terminals__box
                        h4.payment-terminals__title Терминалы оплаты
                        ul.payment-terminals__list 
                            li.payment-terminals__item
                              a.payment-terminals__item-link(href="https://qiwi.com/replenish?terminalTypes[0]=QIWI&lat=59.92639770507812&lng=30.233551025390625&zoom=16&owners=1&method=all" target="_blank") Qiwi
                            li.payment-terminals__item
                              a.payment-terminals__item-link(href="" target="_blank") Qiwi кошелек
                            li.ppayment-terminals__item
                              a.payment-terminals__item-link(href="http://www.pscb.ru/locations/terminals/" target="_blank") КассираНет