include ./_products-item.pug

section.products-content
    .container 
        .products-content__inner 
            .products-content__box
                h2.products-content__title.title Видеокамеры
                ul.products-content__list
                    li.products-content__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-1.png`, alt=`IP-камера TRASSIR TR-D8111IR2W`)
                                h5.products-item__title(href="./application-products.html") IP-камера TRASSIR TR-D8111IR2W
                                ul.products-item__list
                                    li.products-item__list-item Матрица 1/3
                                    li.products-item__list-item Режим «День/ночь» механический ИК-фильтр
                                    li.products-item__list-item Максимальное разрешение 1280×960
                                    li.products-item__list-item Wi-Fi
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 9 500 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="1") Купить
                    li.products-content__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-2.png`, alt=`IP-камера TRASSIR TR-D2B5-noPOE`)
                                h5.products-item__title(href="./application-products.html") IP-камера TRASSIR TR-D2B5-noPOE
                                ul.products-item__list
                                    li.products-item__list-item Матрица 1/2.7 Progressive Scan
                                    li.products-item__list-item Видеоаналитика детекция людей
                                    li.products-item__list-item Разрешение 2 Мп (1920×1080)
                                    li.products-item__list-item Сетевой интерфейс RJ-45
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 10 500 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="2") Купить
                    li.products-content__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-3.png`, alt=`IP-камера HiWatch DS-I250`)
                                h5.products-item__title(href="./application-products.html") IP-камера HiWatch DS-I250
                                ul.products-item__list
                                    li.products-item__list-item 1/2.8 Progressive scan CMOS
                                    li.products-item__list-item Максимальное разрешение 1920×1080
                                    li.products-item__list-item Протоколы TCP/IP, UDP, ICMP, HTTP, HTTPS
                                    li.products-item__list-item Основной поток 25 к/с
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 12 000 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="3") Купить
            .products-content__box
                h2.products-content__title.title Роутеры
                ul.products-content__list
                    li.products-content__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-4.png`, alt=`Wi-Fi роутер Mercusys MW325R`)
                                h5.products-item__title(href="./application-products.html") Wi-Fi роутер Mercusys MW325R
                                ul.products-item__list
                                    li.products-item__list-item стандарт Wi-Fi: 802.11n
                                    li.products-item__list-item макс. скорость: 300 Мбит/с
                                    li.products-item__list-item коммутатор 4xLAN
                                    li.products-item__list-item скорость портов 100 Мбит/сек
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 1 900 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="4") Купить
                    li.products-content__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-5.png`, alt=`Wi-Fi роутер ASUS RT-N12`)
                                h5.products-item__title(href="./application-products.html") Wi-Fi роутер ASUS RT-N12
                                ul.products-item__list
                                    li.products-item__list-item макс. скорость: 300 Мбит/с
                                    li.products-item__list-item коммутатор 4xLAN
                                    li.products-item__list-item поддержка VPN
                                    li.products-item__list-item скорость портов 100 Мбит/сек
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 3 000 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="5") Купить
            .products-content__box
                h2.products-content__title.title TV приставки
                ul.products-content__list
                    li.products__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-6.png`, alt=`Смотрёшка BOX`)
                                h5.products-item__title(href="./application-products.html") Смотрёшка BOX
                                ul.products-item__list
                                    li.products-item__list-item Wi-Fi (802.11 b/g/n 2.4GHz, Realtek 8189)
                                    li.products-item__list-item Ethernet - 10/100 Mbps
                                    li.products-item__list-item HDMI 1.4
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 5 000 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="6") Купить
                    li.products__item
                        .products-item
                            .products-item__box-top
                                .products-item__box-img
                                    img.products-item__img(src=`./img/products-item/img-7.png`, alt=`Xiaomi Mi Box S`)
                                h5.products-item__title(href="./application-products.html") Xiaomi Mi Box S
                                ul.products-item__list
                                    li.products-item__list-item Android TV
                                    li.products-item__list-item 4K UHD
                                    li.products-item__list-item Wi-Fi, Miracast, Bluetooth
                                    li.products-item__list-item HDMI, USB, выход аудио стерео
                            .products-item__box-bottom
                                p.products-item__price(href="./application-products.html") 6 800 ₽
                                a.products-item__link.default-yellow-button.data-link(href="./application-products.html" data-item="7") Купить