ul.tariff-table-optics
    li.tariff-table-optics__row.tariff-table__row--mini.tariff-table-optics__header
        .tariff-table-optics__row-title Ежемесячная абонентская плата
        .tariff-table-optics__row-item 800 ₽ 
        .tariff-table-optics__row-item 1000 ₽
        .tariff-table-optics__row-item 1200 ₽
        .tariff-table-optics__row-item 1500 ₽
    li.tariff-table-optics__row.tariff-table__row--mini
        .tariff-table-optics__row-title Стоимость подключения
        .tariff-table-optics__row-item 10 000 ₽
        .tariff-table-optics__row-item 10 000 ₽
        .tariff-table-optics__row-item 10 000 ₽
        .tariff-table-optics__row-item 10 000 ₽
    li.tariff-table-optics__row.tariff-table__row--mini
        .tariff-table-optics__row-title Скорость доступа в Интернет
        .tariff-table-optics__row-item 10 мб/с
        .tariff-table-optics__row-item 20 мб/с
        .tariff-table-optics__row-item 30 мб/с
        .tariff-table-optics__row-item 50 мб/с
    li.tariff-table-optics__row.tariff-table__row--mini.tariff-table-optics__row-links
        .tariff-table-optics__row-title
        .tariff-table-optics__row-item
            a.tariff-table-optics__row-link.default-yellow-button.data-link(href="./application-rahya-optics.html" data-item="10") Подключить 
        .tariff-table-optics__row-item
            a.tariff-table-optics__row-link.default-yellow-button.data-link(href="./application-rahya-optics.html" data-item="20") Подключить 
        .tariff-table-optics__row-item
            a.tariff-table-optics__row-link.default-yellow-button.data-link(href="./application-rahya-optics.html" data-item="30") Подключить 
        .tariff-table-optics__row-item
            a.tariff-table-optics__row-link.default-yellow-button.data-link(href="./application-rahya-optics.html" data-item="50") Подключить 