section.tariff-content
    .container 
        .tariff-content__inner 
            .tariff-content__table
                h2.tariff-content__title.title Тарифы в многоквартирных домах в поселке Рахья.
                include ./_tariff-table.pug
            .tariff-content__table.tariff-content__table--optics
                h2.tariff-content__title.title Тарифы для частных домов в поселке Рахья, подключенных по оптике
                include ./_tariff-table-optics.pug
