ul.tariff-table
    li.tariff-table__row.tariff-table__header
        .tariff-table__row-title Ежемесячная абонентская плата
        .tariff-table__row-item 500 ₽ 
        .tariff-table__row-item 700 ₽
        .tariff-table__row-item 800 ₽
        .tariff-table__row-item 900 ₽
        .tariff-table__row-item 1 000 ₽ 
    li.tariff-table__row
        .tariff-table__row-title Стоимость подключения
        .tariff-table__row-item 0 ₽
        .tariff-table__row-item 0 ₽
        .tariff-table__row-item 0 ₽
        .tariff-table__row-item 0 ₽
        .tariff-table__row-item 0 ₽
    li.tariff-table__row
        .tariff-table__row-title Скорость доступа в Интернет
        .tariff-table__row-item 2 мб/с
        .tariff-table__row-item 10 мб/с
        .tariff-table__row-item 20 мб/с
        .tariff-table__row-item 30 мб/с
        .tariff-table__row-item 50 мб/с
    li.tariff-table__row.tariff-table__row-links
        .tariff-table__row-title
        .tariff-table__row-item
            a.tariff-table__row-link.default-yellow-button.data-link(href="./application-rahya.html" data-item="2") Подключить 
        .tariff-table__row-item
            a.tariff-table__row-link.default-yellow-button.data-link(href="./application-rahya.html" data-item="10") Подключить 
        .tariff-table__row-item
            a.tariff-table__row-link.default-yellow-button.data-link(href="./application-rahya.html" data-item="20") Подключить 
        .tariff-table__row-item
            a.tariff-table__row-link.default-yellow-button.data-link(href="./application-rahya.html" data-item="30") Подключить 
        .tariff-table__row-item
            a.tariff-table__row-link.default-yellow-button.data-link(href="./application-rahya.html" data-item="50") Подключить 