section.telephony-advantages
    .container 
        .telephony-advantages__inner 
            h2.telephony-advantages__title.title Преимущества телефонии
            ul.telephony-advantages__list 
                li.telephony-advantages__item.telephony-advantages__item--wired
                    h4.telephony-advantages__item-title Перед проводной связью
                    ul.telephony-advantages__item-list
                        li.telephony-advantages__item-text Преимущества телефонии
                        li.telephony-advantages__item-text Запись разговоров
                        li.telephony-advantages__item-text Можно смотреть статистику звонков
                        li.telephony-advantages__item-text Выбор номеров на любой вкус и бюджет
                        li.telephony-advantages__item-text Низкая стоимость в месяц (от 210 руб.)
                        li.telephony-advantages__item-text Низкая стоимость подключения (от 200 руб.)
                        li.telephony-advantages__item-text Быстро и самостоятельно подключить (за 10 минут)
                        li.telephony-advantages__item-text Можно переносить номер с собой куда угодно и как угодно часто
                        li.telephony-advantages__item-text Всегда есть техническая возможность подключения, если есть интернет
                li.telephony-advantages__item.telephony-advantages__item--cell-phone
                    h4.telephony-advantages__item-title Перед сотовой связью
                    ul.telephony-advantages__item-list
                        li.telephony-advantages__item-text Нет роуминга
                        li.telephony-advantages__item-text Городской телефон, который всегда и везде с собой
                        li.telephony-advantages__item-text Производит солидное впечатление
                        li.telephony-advantages__item-text Дополнительные бесплатные полезные функции