section.telephony-banner
    .container 
        .telephony-banner__inner
            .telephony-banner__box 
                h1.telephony-banner__title Телефония
                ul.telephony-banner__list
                    li.telephony-banner__list-item Просто настроить
                    li.telephony-banner__list-item Запись разговоров
                    li.telephony-banner__list-item Низкая стоимость подключения от 200 ₽
                    li.telephony-banner__list-item Абонентская плата 210 ₽ в месяц
                a.telephony-banner__link.default-yellow-button(href="https://www.telestore.ru/tariffs/#subscriptions" target="_blank") Выбрать тариф