section.video-surveillance-banner
    .container 
        .video-surveillance-banner__inner
            .video-surveillance-banner__box 
                h1.video-surveillance-banner__title Видеонаблюдение через интернет
                ul.video-surveillance-banner__list
                    li.video-surveillance-banner__list-item Подключение ваших камер напрямую к облачному сервису Homenet
                    li.video-surveillance-banner__list-item Защищённые дата центры
                    li.video-surveillance-banner__list-item Запись и анализ видео с ваших камер
                a.video-surveillance-banner__link.default-yellow-button(href="./products.html") Выбрать камеру