include ./_video-surveillance-type.pug
.video-surveillance-types
    .container 
        .video-surveillance-types__inner 
            ul.video-surveillance-types__list
                li.video-surveillance-types__item
                    .video-surveillance-type
                        .video-surveillance-type__img-box
                            img.video-surveillance-type__img(src=`./img/video-surveillance-type/img-1.png`, alt=`Облачный 1`)
                        .video-surveillance-type__box
                            h5.video-surveillance-type__title Облачный 1
                            p.video-surveillance-type__text 1 день хранения записи
                            p.video-surveillance-type__price 250 ₽
                            a.video-surveillance-type__link.default-yellow-button.data-link(href="./application-video-surveillance.html" data-item="1") Подключить
                li.video-surveillance-types__item
                    .video-surveillance-type
                        .video-surveillance-type__img-box
                            img.video-surveillance-type__img(src=`./img/video-surveillance-type/img-2.png`, alt=`Облачный 5`)
                        .video-surveillance-type__box
                            h5.video-surveillance-type__title Облачный 5
                            p.video-surveillance-type__text 5 день хранения записи
                            p.video-surveillance-type__price 350 ₽
                            a.video-surveillance-type__link.default-yellow-button.data-link(href="./application-video-surveillance.html" data-item="5") Подключить
                li.video-surveillance-types__item
                    .video-surveillance-type
                        .video-surveillance-type__img-box
                            img.video-surveillance-type__img(src=`./img/video-surveillance-type/img-3.png`, alt=`Облачный 10`)
                        .video-surveillance-type__box
                            h5.video-surveillance-type__title Облачный 10
                            p.video-surveillance-type__text 10 день хранения записи
                            p.video-surveillance-type__price 500 ₽
                            a.video-surveillance-type__link.default-yellow-button.data-link(href="./application-video-surveillance.html" data-item="10") Подключить
                li.video-surveillance-types__item
                    .video-surveillance-type
                        .video-surveillance-type__img-box
                            img.video-surveillance-type__img(src=`./img/video-surveillance-type/img-4.png`, alt=`Облачный 30`)
                        .video-surveillance-type__box
                            h5.video-surveillance-type__title Облачный 30
                            p.video-surveillance-type__text 30 день хранения записи
                            p.video-surveillance-type__price 800 ₽
                            a.video-surveillance-type__link.default-yellow-button.data-link(href="./application-video-surveillance.html" data-item="30") Подключить