.video-surveillance-articles
    .container 
        .video-surveillance-articles__inner 
            ul.video-surveillance-articles__list 
                li.video-surveillance-articles__item
                    img.video-surveillance-articles__item-img(src="./img/video-surveillance-articles/img-1.jpg", alt="Резервирование")
                    .video-surveillance-articles__box
                        h4.video-surveillance-articles__item-title Резервирование
                        p.video-surveillance-articles__item-text Все оборудование, а также все записи, попадающие с Ваших камер на наши сервера резервируются, что исключает возможность потери данных, в случае выхода из строя оборудования или жесткого диска, либо их утраты в случае противоправных действий третьих лиц.
                li.video-surveillance-articles__item
                    img.video-surveillance-articles__item-img(src="./img/video-surveillance-articles/img-2.jpg", alt="Не нужно следить за работой и обслуживать свое оборудование")
                    .video-surveillance-articles__box
                        h4.video-surveillance-articles__item-title Не нужно следить за работой и обслуживать свое оборудование
                        p.video-surveillance-articles__item-text Если Вы хотите организовать видеонаблюдение, но при этом нет возможности следить за работоспособностью сервера, дисков и программного обеспечения в круглосуточном режиме, либо Вы хотите создать резервное хранилище для уже существующей системы видеонаблюдения, то лучшим решением будет приобретение подписки на сервис облачного видеонаблюдения Homenet по лучшим в мире тарифам!
                li.video-surveillance-articles__item
                    img.video-surveillance-articles__item-img(src="./img/video-surveillance-articles/img-3.jpg", alt="Минимальное количество звеньев")
                    .video-surveillance-articles__box
                        h4.video-surveillance-articles__item-title Минимальное количество звеньев
                        p.video-surveillance-articles__item-text С Homenet у Вас отсутствует необходимость в приобретении и обслуживании дополнительного оборудования. Количество звеньев в цепи - минимально. Нужна лишь камера и выход в Интернет.
                li.video-surveillance-articles__item
                    img.video-surveillance-articles__item-img(src="./img/video-surveillance-articles/img-4.jpg", alt="Защищенное соединение")
                    .video-surveillance-articles__box
                        h4.video-surveillance-articles__item-title Защищенное соединение
                        p.video-surveillance-articles__item-text При доступе к сервису все данные, в целях безопасности, передаются по защищенном каналам, с использованием шифрования.