doctype html
html
  head(lang='ru')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='./favicon.ico')
    link(rel='stylesheet', href='./css/style.min.css')
    title Homenet
  body
    include ../components/_header.pug
    .wrapper#wrapper
      main.main
        include ../components/_index-banner.pug
        include ../components/_index-services-color.pug
        include ../components/_index-info.pug
        include ../components/_index-services-dark.pug
      include ../components/_footer.pug
      include ../components/_legal-or-physical-popup
    script(src='./js/index.js')
